.example-section {
    margin: 12px 0;

  width: 500px;
  height: 50px;

  }



.example-form {
  min-width: 500px;
  max-width: 1000px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.example-form
{
  display: flex;
  padding: 10px 0;
}

mat-card { width: 100%; }
